@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.backgroundContainer {
    background-color: #D8CFC3;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .copyright {
        text-align: center;
        padding-bottom: 3vh;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        color: #585858;
        opacity: 0.5;
    }
}

.itemListContainer {
    height: 95vh;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tshirtContainer {
    @extend .itemListContainer;
}

.card {
    width: 85.64%;
    min-height: 70.14%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(147.68deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0.16) 100%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
    backdrop-filter: blur(12.5px);
    border-radius: 20px;

    .productShowcase {
        position: relative;
        width: 100%;
        border-radius: 20px;
    }

    .productShowcaseTitle {
        position: absolute;
        padding-bottom: 2.5vh;
    }

    h3 {
        text-align: center;
        padding-top: 20px;
        padding-bottom: 5px;
        font-family: 'IBM Plex Serif', serif;
        font-size: 20px;
        line-height: 26px;
        color: #474747;
    }

    p {
        text-align: center;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #474747;
        opacity: 0.7;
    }
}

.buttonsContainer {
    z-index: 1;
    width: 85.64%;
    height: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonTrends {
    background-color: #474747;
    border-radius: 100px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 10px;

    p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
        opacity: 1;
    }
}

.buttonDetail {
    @extend .buttonTrends;
    background-color: transparent;
    border: 1px solid #474747;
    margin-bottom: 0;

    p {
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #474747;
        opacity: 1;
    }
}

.itemDetailContainer {
    width: 100%;
    height: auto;
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(15px);

    h3 {
        text-align: center;
        margin-bottom: 10px;
        font-family: 'IBM Plex Serif', serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 31.2px;
        color: #474747;
    }

    .descriptionContainer {
        margin-top: 4vh;
        margin-bottom: 3vh;
    }

    .productDescription {
        text-align: center;
        width: 342px;
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
        color: #474747;
    }
}

.productShowcaseContainer {
    width: 85.64%;
}

.returnContainer {
    width: 85.64%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    a {
        text-decoration: none;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        color: #474747;
        display: flex;
        align-items: center;

        img {
            margin-right: 9px;
        }
    }
}

.socialMediaContainer {
    width: 63%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.desktopViewContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .desktopWarningMessage {
        height: 70vh;
        width: 35%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            padding: 3vh 0vh;
            text-align: center;
            font-family: 'IBM Plex Serif', serif;
            font-weight: 700;
            font-size: 40px;
            line-height: 52px;
            color: #474747;
        }

        h3 {
            text-align: center;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 130%;
            color: #474747;
        }
    }

    .desktopWrthLogo {
        padding-bottom: 5vh;

        img {
            height: 20vh;
            opacity: 40%;
        }
    }
}

.trendsContainer {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.trendsCard {
    margin-left: auto;
    margin-right: auto;
}